button {
  cursor: pointer;
  outline: none;
}

.page-header {
  background-color: #f2f2f2;
  display: inline-flex;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
  height: 5rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-button {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 5rem;
  padding: 0;
}

.header-logo {
  max-height: 4rem;
  max-width: 4rem;
  margin: 8px 0;
  filter: invert(25%);
  transition-duration: .3s;
}

.header-button:hover img {
  filter: invert(0%);
}

.hamburger-menu {
  height: 3rem;
  width: 3rem;
}

.page-name-header {
  color: #666;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 5rem;
  letter-spacing: 2px;
  margin: 0;
  text-decoration: none;
  transition-duration: .3s;
}

.page-name-header:hover {
  color: black;
}

